$cCharcoalGray: #222831;
$cBlueGray: #393e46;
$cTeal: #00adb5;
$cDeepGreen: #2b7a78;

$cOffWhite: #eeeeee;
$cOffBlack: #1c1c1c;
$cGray: #666;

.content-width {
  width: 50%;
  margin: 0 auto;
  max-width: 1070px;
}
