@use "common" as *;

// !　グローバルスタイル
body {
  font-family: sans-serif;
  background-color: $cCharcoalGray;
  color: $cOffWhite;
  font-size: 14px;

  @media (min-width: 768px) {
    font-size: 16px;
  }

  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

input {
  border-radius: 10px;
  border: none;
  padding: 6px 16px;
}

ul {
  padding-left: 20px;
}

li {
  list-style: circle;
}

// ボタンの基本スタイル
.btn {
  border-radius: 8px;
  border: none;
  padding: 4px 16px;
  margin: 0 2px;
  transition: all 0.2s;

  // ホバー時の基本スタイル
  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translate(2px, -2px);
  }

  // クリック時の基本スタイル
  &:active {
    transform: none;
  }

  &__add {
    color: $cGray;
  }

  // 完了ボタンのスタイル
  &__complete {
    background-color: #00abd5;
    color: $cOffWhite;

    &:hover {
      background-color: #33c8ce;
    }
  }

  // 削除ボタンのスタイル
  &__delete {
    background-color: #ff5722;
    color: $cOffWhite;

    &:hover {
      background-color: #d32f2f;
    }
  }

  // 戻すボタンのスタイル
  &__undo {
    background-color: #393e46;
    color: $cOffWhite;

    &:hover {
      background-color: #555e66;
    }
  }
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  gap: 20px;
  width: 100%;
}

// インプットエリアのスタイル
.input-area {
  background-color: $cDeepGreen;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 320px;
  width: 90%;
  padding: 7px;

  @media (min-width: 768px) {
    max-width: 500px;
  }
}

// 未完了、完了エリアの共通スタイル
.incomplete-area,
.complete-area {
  border-radius: 8px;
  max-width: 320px;
  width: 90%;
  min-height: 37vh;
  padding: 10px;

  @media (min-width: 768px) {
    max-width: 500px;
  }
}

// 未完了エリアのスタイル
.incomplete-area {
  background-color: $cOffWhite;
  color: $cGray;
}

// 完了エリアのスタイル
.complete-area {
  background-color: $cOffBlack;
  color: $cOffWhite;
}

// タイトルのスタイル
.title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

// To-doリストを横に並べる
.list-row {
  display: flex;
  align-items: center;
}

// To-do要素の間隔をあける
.todo-item {
  margin: 10px;
}
